.container {
    padding: 30px 50px;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

#btnn {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background-color: cadetblue;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s;
}

#btnn:active {
    transform: scale(0.9);
}

#save {
    border-radius: 5px;
    width: 50px;
    background-color: brown;
    color: #fff;
}

#save:hover {
    background-color: rgb(255, 190, 190);
    color: #000;
}

#entries {
    font-size: 20px;
    font-weight: bold;
}

