h1, h2 {
    text-align: center;
    margin: 0;
}

#btnn {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background-color: cadetblue;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 1s;

}



